In [27]:
import pandas as pd

df=pd.read_csv('citydata.csv')
df

,city,year,Ctnm,Cttyp,GDP,Gdpct01,Gdpct02,Gdpct03,GDP_PerCapita,GDP_PrimInd,...,Eect06,Eect08,Eect09,Eect10,Eect11,Eect12,wage,hpopu,urban,nightLight
0,1101,2006,北京市,直辖市,8387.0000,1.0,24.7,74.3,53438.0,872000.0,...,220.3385,0.52,27.64,71.84,450.06,18054937.0,40116.73,1197.6,84.186996,4.265319
1,1101,2007,北京市,直辖市,10425.5000,1.0,23.1,75.9,63629.0,994000.0,...,323.0710,0.50,26.46,73.04,471.81,21942743.0,46507.58,1213.3,84.300003,3.972201
2,1101,2008,北京市,直辖市,11813.1000,0.9,21.4,77.7,68541.0,1114000.0,...,360.0999,0.46,24.59,74.95,505.52,28474862.0,56327.86,1229.9,84.901001,3.880904
3,1101,2009,北京市,直辖市,12900.9000,0.9,21.2,77.9,71059.0,1168000.0,...,393.3230,0.52,23.44,76.03,555.07,32271711.0,58139.89,1245.8,85.004997,3.622508
4,1101,2010,北京市,直辖市,14964.0000,0.8,21.6,77.6,78307.0,1228000.0,...,430.3573,0.50,23.39,76.11,576.88,37890732.0,65682.17,1257.8,85.957001,3.396719
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4718,6522,2019,哈密地区,地级市,604.8153,6.8,56.4,36.8,98148.0,412690.0,...,14.8820,9.97,27.11,62.92,9.90,827204.0,80867.00,56.0,NaN,NaN
4719,6527,2019,博尔塔拉蒙古自治州,地级市,354.2918,19.3,25.3,55.4,74276.0,683079.0,...,NaN,NaN,NaN,NaN,6.79,478763.0,68018.00,NaN,NaN,0.088935
4720,6540,2019,伊犁哈萨克自治州,地级市,1190.7054,17.2,24.7,58.1,42768.0,2053388.0,...,NaN,NaN,NaN,NaN,30.31,2164720.0,67259.00,NaN,NaN,0.139914
4721,6523,2019,昌吉回族自治州,地级市,1324.7400,16.2,41.8,42.0,82605.0,2150720.0,...,NaN,NaN,NaN,NaN,20.74,1673021.0,80210.00,NaN,NaN,0.148216
4722,6521,2019,吐鲁番地区,地级市,384.4809,14.0,44.1,41.9,60985.0,539706.0,...,6.7443,0.46,27.46,72.08,8.73,806074.0,85258.00,63.0,NaN,NaN

In [28]:
df.dtypes

city               int64
year               int64
Ctnm              object
Cttyp             object
GDP              float64
Gdpct01          float64
Gdpct02          float64
Gdpct03          float64
GDP_PerCapita    float64
GDP_PrimInd      float64
GDP_SecInd       float64
GDP_TerInd       float64
Eect04           float64
Eect05           float64
Eect06           float64
Eect08           float64
Eect09           float64
Eect10           float64
Eect11           float64
Eect12           float64
wage             float64
hpopu            float64
urban            float64
nightLight       float64
dtype: object

In [29]:
df.describe().style.background_gradient()

In [30]:
#将年份转换为日期格式进行排序

df=df.sort_values('year',ascending=False)
df

,city,year,Ctnm,Cttyp,GDP,Gdpct01,Gdpct02,Gdpct03,GDP_PerCapita,GDP_PrimInd,...,Eect06,Eect08,Eect09,Eect10,Eect11,Eect12,wage,hpopu,urban,nightLight
4722,6521,2019,吐鲁番地区,地级市,384.4809,14.000000,44.100000,41.900000,60985.0,5.397060e+05,...,6.7443,0.46,27.46,72.08,8.73,806074.0,85258.00,63.0000,NaN,NaN
699,2109,2019,阜新市,地级市,488.0566,21.765900,26.528800,51.705300,27945.0,1.062297e+06,...,23.0603,0.98,19.39,79.63,12.00,746629.0,59849.00,183.7000,40.212002,0.222509
1351,3309,2019,舟山市,地级市,1371.6000,10.670000,34.660000,54.640000,116781.0,1.464000e+06,...,21.0694,0.25,30.55,69.20,17.00,1796972.0,106441.00,96.5990,71.199997,4.802324
1709,3509,2019,宁德市,地级市,2451.7000,12.780112,51.230167,35.989721,84251.0,3.133300e+06,...,78.1407,0.27,35.63,64.09,23.00,1868084.0,82982.00,355.6300,57.599998,0.518800
504,1508,2019,巴彦淖尔市,地级市,875.0104,22.973800,32.507700,44.518500,51722.0,2.010229e+06,...,33.8657,4.23,16.64,79.13,13.00,1045085.0,75879.00,173.9500,55.578999,0.028357
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1724,3611,2006,上饶市,地级市,451.4277,19.430000,44.460000,36.110000,NaN,8.771240e+05,...,49.7695,11.82,28.68,59.50,29.21,392011.0,13420.44,639.6254,18.146000,0.020708
3282,5134,2006,凉山彝族自治州,地级市,359.6000,28.375973,39.897108,31.726919,8331.0,1.020400e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,435.6000,NaN,0.012907
3281,5120,2006,资阳市,地级市,300.1000,30.430000,41.170000,28.400000,7049.0,9.133000e+05,...,7.2592,2.71,34.40,62.89,13.41,200308.0,14937.21,489.4000,25.200001,0.040713
3280,5108,2006,广元市,地级市,166.4800,29.390000,32.700000,37.910000,6100.0,4.892000e+05,...,8.7188,1.67,32.82,65.51,13.85,188900.0,13638.99,306.2000,28.700001,0.011572
0,1101,2006,北京市,直辖市,8387.0000,1.000000,24.700000,74.300000,53438.0,8.720000e+05,...,220.3385,0.52,27.64,71.84,450.06,18054937.0,40116.73,1197.6000,84.186996,4.265319

In [31]:
df.isnull().sum()

city                0
year                0
Ctnm                0
Cttyp               0
GDP                40
Gdpct01            42
Gdpct02            42
Gdpct03            42
GDP_PerCapita     897
GDP_PrimInd        45
GDP_SecInd         45
GDP_TerInd         45
Eect04           1847
Eect05            587
Eect06            755
Eect08            732
Eect09            654
Eect10            653
Eect11            630
Eect12            630
wage              603
hpopu             360
urban             719
nightLight         95
dtype: int64

In [32]:

df=df.fillna(method='ffill')
df

,city,year,Ctnm,Cttyp,GDP,Gdpct01,Gdpct02,Gdpct03,GDP_PerCapita,GDP_PrimInd,...,Eect06,Eect08,Eect09,Eect10,Eect11,Eect12,wage,hpopu,urban,nightLight
4722,6521,2019,吐鲁番地区,地级市,384.4809,14.000000,44.100000,41.900000,60985.0,5.397060e+05,...,6.7443,0.46,27.46,72.08,8.73,806074.0,85258.00,63.0000,NaN,NaN
699,2109,2019,阜新市,地级市,488.0566,21.765900,26.528800,51.705300,27945.0,1.062297e+06,...,23.0603,0.98,19.39,79.63,12.00,746629.0,59849.00,183.7000,40.212002,0.222509
1351,3309,2019,舟山市,地级市,1371.6000,10.670000,34.660000,54.640000,116781.0,1.464000e+06,...,21.0694,0.25,30.55,69.20,17.00,1796972.0,106441.00,96.5990,71.199997,4.802324
1709,3509,2019,宁德市,地级市,2451.7000,12.780112,51.230167,35.989721,84251.0,3.133300e+06,...,78.1407,0.27,35.63,64.09,23.00,1868084.0,82982.00,355.6300,57.599998,0.518800
504,1508,2019,巴彦淖尔市,地级市,875.0104,22.973800,32.507700,44.518500,51722.0,2.010229e+06,...,33.8657,4.23,16.64,79.13,13.00,1045085.0,75879.00,173.9500,55.578999,0.028357
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1724,3611,2006,上饶市,地级市,451.4277,19.430000,44.460000,36.110000,11576.0,8.771240e+05,...,49.7695,11.82,28.68,59.50,29.21,392011.0,13420.44,639.6254,18.146000,0.020708
3282,5134,2006,凉山彝族自治州,地级市,359.6000,28.375973,39.897108,31.726919,8331.0,1.020400e+06,...,49.7695,11.82,28.68,59.50,29.21,392011.0,13420.44,435.6000,18.146000,0.012907
3281,5120,2006,资阳市,地级市,300.1000,30.430000,41.170000,28.400000,7049.0,9.133000e+05,...,7.2592,2.71,34.40,62.89,13.41,200308.0,14937.21,489.4000,25.200001,0.040713
3280,5108,2006,广元市,地级市,166.4800,29.390000,32.700000,37.910000,6100.0,4.892000e+05,...,8.7188,1.67,32.82,65.51,13.85,188900.0,13638.99,306.2000,28.700001,0.011572
0,1101,2006,北京市,直辖市,8387.0000,1.000000,24.700000,74.300000,53438.0,8.720000e+05,...,220.3385,0.52,27.64,71.84,450.06,18054937.0,40116.73,1197.6000,84.186996,4.265319

city             0
year             0
Ctnm             0
Cttyp            0
GDP              0
Gdpct01          0
Gdpct02          0
Gdpct03          0
GDP_PerCapita    0
GDP_PrimInd      0
GDP_SecInd       0
GDP_TerInd       0
Eect04           0
Eect05           0
Eect06           0
Eect08           0
Eect09           0
Eect10           0
Eect11           0
Eect12           0
wage             0
hpopu            0
urban            0
nightLight       0
dtype: int64

In [33]:
df=df.dropna()

In [34]:
df

,city,year,Ctnm,Cttyp,GDP,Gdpct01,Gdpct02,Gdpct03,GDP_PerCapita,GDP_PrimInd,...,Eect06,Eect08,Eect09,Eect10,Eect11,Eect12,wage,hpopu,urban,nightLight
4284,6205,2015,天水市,地级市,553.7728,17.600000,33.510000,48.890000,16743.0,9.748990e+05,...,13.8177,2.04,30.46,67.51,18.87,863206.0,45546.00,367.1723,35.299999,0.131978
4283,6204,2015,白银市,地级市,434.2749,13.590000,44.730000,41.680000,25410.0,5.902570e+05,...,5.3262,1.33,47.43,51.24,16.31,835012.0,51196.00,180.7636,46.529999,0.075292
631,2110,2015,辽阳市,地级市,1028.5818,7.059900,55.267100,37.673000,55674.0,7.261720e+05,...,16.6189,1.64,46.50,51.85,17.63,894268.0,50716.00,179.0000,37.860001,0.958362
4285,6208,2015,平凉市,地级市,347.6994,27.100000,27.880000,45.020000,16595.0,9.420880e+05,...,21.2560,1.04,43.22,55.75,16.92,902465.0,53028.00,233.0761,36.268002,0.116091
4286,6211,2015,定西市,地级市,304.9178,25.240000,21.810000,52.950000,10987.0,7.697180e+05,...,33.2614,0.88,29.07,70.05,15.05,727852.0,4958.00,300.8745,30.400000,0.070796
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1724,3611,2006,上饶市,地级市,451.4277,19.430000,44.460000,36.110000,11576.0,8.771240e+05,...,49.7695,11.82,28.68,59.50,29.21,392011.0,13420.44,639.6254,18.146000,0.020708
3282,5134,2006,凉山彝族自治州,地级市,359.6000,28.375973,39.897108,31.726919,8331.0,1.020400e+06,...,49.7695,11.82,28.68,59.50,29.21,392011.0,13420.44,435.6000,18.146000,0.012907
3281,5120,2006,资阳市,地级市,300.1000,30.430000,41.170000,28.400000,7049.0,9.133000e+05,...,7.2592,2.71,34.40,62.89,13.41,200308.0,14937.21,489.4000,25.200001,0.040713
3280,5108,2006,广元市,地级市,166.4800,29.390000,32.700000,37.910000,6100.0,4.892000e+05,...,8.7188,1.67,32.82,65.51,13.85,188900.0,13638.99,306.2000,28.700001,0.011572
0,1101,2006,北京市,直辖市,8387.0000,1.000000,24.700000,74.300000,53438.0,8.720000e+05,...,220.3385,0.52,27.64,71.84,450.06,18054937.0,40116.73,1197.6000,84.186996,4.265319

In [35]:
df.to_csv('数据.csv',index=False)

In [36]:
import numpy as np
cities=np.unique(df.Ctnm.values)
with open('cities.txt','a', encoding='utf-8')as f:
    for i in cities:
        f.write(f'{i}\n')